<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Flask + Bokeh + Forms demo</title>
    
  </head>
  <body>
      <p>The graph will show the number of citations for toponyms by state in 1787</p>
      {{ plot_div|indent(4)|safe }}

    <form action="/formviz">
        <select name="state" id="state-select">
            choose a state amongst the available list
            <option value="">--Please choose a state to filter on--</option>
            <option value="Espagne">Royaume d'Espagne</option>
            <option value="France">Royaume de France</option>
            <option value="Grande-Bretagne">United Kingdom</option>
            <option value="Monaco">Principauté de Monaco</option>
        </select>
        <input type="submit"> 
    </form>

    <p>-----------------------------</p>
    <button onclick="count()">Click here and see what happens</button>
    <p>-----------------------------</p>
    <button onclick="window.location.reload();">And now refresh your page</button>

    <!-- SCRIPTS section at the end of the HTML file -->

    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    <script>
      var i = 1;

      function count(){
          i = i+1;
          console.log(i);
          alert('I come here '+i+' times'); 
          return i;
      }

    </script>
  </body>
</html>