<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Hello Demo</title>
  </head>
  <body>
    <h1> Avec l'API portic </h1>
    <h2> Choisir un pays</h2>
    <form action="/map_template_form" method="get">
        <select name="pays" id="state-select">
            choose a state amongst the available list
            <option value="">--Please choose a state to filter on--</option>
            <option value="bidon">bidon</option>
            <option value="Unknown">Unknown</option>
            {{ opt|indent(4)|safe }}
        </select>
        <button type="submit">Refresh map</button>
    </form>

    <!--
    <form action="/map_template_form" method="get">
        <select name="pays">
            {% for country in unique_countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>
        <button type="submit">Voir la carte</button>
    </form>
    -->

    <h2> La carte </h2>
    <div id="carte">
    {{ msg | safe }}
    </div>
    
    <h2> les données </h2>
    {{ y | safe }}


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    -->

    <script type="text/javascript">
        $(document).ready(function() {
          $('#state-select').change(function(event){
              event.preventDefault();
              console.log($("#state-select").val());
              alert('autre pays');
              $.getJSON('/ajaxviz', {
                  pays: $("#state-select").val(),
                  }, function(data) {
                      $('#carte').html(data.html_plot);
              });
              return false;
          });
        });
      </script>

  </body>
</html>

